 <div *ngIf="!exist" >No teams found.</div> 
<div  *ngIf="exist"  class="panel panel-primary">
    <div class="panel-heading">
      <h2>TEAM LIST</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" style="color: white;">
        <tbody>
        
          <tr *ngFor="let t of teams | async">
            <td> <li class="navbar-brand">
              <img src="../assets/flags/{{t.name}}.png"  width="30" height="30"  /></li>{{t.name}}</td>
                <td><button (click)="deleteTeam(t.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateteam(t.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="teamDetails(t.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  