

 <h2>MATCH DETAILS</h2> <br>
 <hr/>
<table>
  <tr><td style="font-size: 25px;font-weight: bold;">{{m.teams[0].name}}</td>
    <td style="font-size: 25px;font-weight: bold;">VS</td>
    <td style="font-size: 25px;font-weight: bold;text-align: right;">{{m.teams[1].name}}</td></tr>
  <tr><td><img src="../assets/flags/{{m.teams[0].name}}.png"  width="80" height="80"  /></td>
    <td></td>
    <td style="text-align: right;"><img src="../assets/flags/{{m.teams[1].name}}.png"  width="80" height="80"  /></td></tr>
<tr><td style="margin-left: 30%; font-size: 35px;font-weight: bold;"> {{m.scorea}}</td><td></td><td  style="margin-left: 30%; font-size: 35px;font-weight: bold;text-align: right;"> {{m.scoreb}}</td></tr>
</table>
<table *ngIf="m">
  <tr><td>
   <b>Stadium: </b>{{m.stadium}}<br>
 
   <b>Date: </b> {{m.date}}

   <br><b>Hour: </b> {{m.hour}}
  

    
</td></tr>
<tr><td>
  <b>Referees : </b><br>
  1) {{m.referees[0].name}} <br>
  2) {{m.referees[1].name}}<br>
  3) {{m.referees[2].name}}<br>
  4) {{m.referees[3].name}}</td>
</tr>
</table>

<button style="width:14%;margin-left: 45%;" (click)="list()" class="btn btn-primary">Back</button><br>